// scss
$color_1: black;
$font_family_1: "Zilla Slab Highlight";

/* Grid */

body {
	background-image: url(pokedex-background.jpg);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
}
h1 {
	font-size: 5vw;
	color: $color_1;
	text-align: left;
	font-family: $font_family_1;
}
.container {
	display: flex;
	margin-top: 50px;
	align-content: center;
}
h2 {
	font-size: 4vw;
	color: $color_1;
	font-family: $font_family_1;
}
h3 {
	font-size: 3vw;
	color: $color_1;
	font-family: $font_family_1;
}
.button {
	width: 100px;
}
#pokemon-name {
	text-transform: uppercase;
}
footer {
	align-items: bottom;
}
