body {
  background-image: url(poke.jpg);
  background-size:100%;
  background-repeat:no-repeat;

}

h1 {
  font-size: 5vw;
  color: black;
  text-align: left;
  font-family: "Zilla Slab Highlight";
}

/* Grid */
.container-fluid {
  display: flex;

}

.col-sm-9 .col-sm-3 {
  border: 2px solid blue;
}

h2 {
  font-size: 4vw;
  color: black;
  font-family: "Zilla Slab Highlight";
}

h3 {
  font-size: 3vw;
  color: black;
  font-family: "Zilla Slab Highlight";
}

.button {
  width: 100px;
}

/* Make Pokemon name all capital letters */
#pokemon-name {
  text-transform: uppercase;
}

footer {
  align-items: bottom;
}
