body {
  background-image: url(poke.jpg);
  background-size:100%;
  background-repeat:no-repeat;

}

h1 {
  font-size: 5vw;
  color: black;
  text-align: left;
  font-family: "Zilla Slab Highlight";
}

/* Grid */
.container-fluid {
  display: flex;

}

.col-md-10 .col-md-2 {
  border: 2px solid blue;
}

.button {
  width: 100px;
}

footer {
  align-items: bottom;
}
